/*
  Preferences / Settings
  Use this file to set your preferences this will save them in one place for easier future updating
  =========================================================================
*/

:root {
  --sidebar-width: 50px;
  --toolbar-height: -50px;
  --menubar-height: -74px;
  --sidebar-padding: calc(var(--sidebar-width) + 5px);
  --toolbar-start-end-padding: 5px !important;

  /* ====== Extension Settings ====== */

  /* Window Control / Client Side Display Settings === 
    If you are putting this on the left or right side uncomment the side 
    preferences below and comment the other
    =========================================================================
  */
    --csd-width: 100px;
    --csd-top: 6px;

    /*  
      CSD - Left Side === 
      Default: --csd-left: 50px; --csd-margin-left: 92px;
    /*

      --csd-left: 50px;
      --csd-margin-left: 92px;

    /* END: CSD - Left Side ====== */

    /*
      CSD - Right Side ===
      Defaults: --csd-right: 0px; --csd-margin-right: 95px;
    */ 

      --csd-right: 0px;
      --csd-margin-right: 95px;

    */
    /* END: CSD - Right Side ====== */

  /* === END: Window Control / Client Side Display Settings === */


  /* === Custom Sidebar Header Background (Legacy) === */
 
    /* --custom-sidebar-bg: #000 !important; */
 
  /* === END: Custom Sidebar Header Background (Legacy) === */

/* === END: Extension Settings === */

}
