/*
  Preferences / Settings
  Use this file to set your preferences this will save them in one place for easier future updating
  =========================================================================
*/

:root {
  --sidebar-width: 50px;
  --toolbar-height: -50px;
  --menubar-height: -74px;
  --sidebar-padding: calc(var(--sidebar-width) + 5px);
  --toolbar-start-end-padding: 5px !important;

  /* Custom Sidebar/Header Backround :: 
     This sets the background for the other sidebar options (bookmarks, history, in case it is transparent from a theme that is not set up properly 
  */
    /* --custom-sidebar-bg: Field; /* Default: Field (Disabled) */
    --custom-sidebar-header-bg: #000; /* Default: Field (Disabled) */

  /* ====== Extension Settings ====== */

  /* Window Control / Client Side Display Settings === 
    If you are putting this on the left or right side uncomment the side 
    preferences below and comment the other
    =========================================================================
  */
    --csd-width: 100px;
    --csd-top: 8px;

    /*  
      CSD - Left Side === 
      Default: --csd-left: 50px; --csd-margin-left: 92px;
    */
    
      /*
        --csd-left: 50px;
        --csd-margin-left: 92px;
      */

    /*
      CSD - Right Side ===
      Defaults: --csd-right: 0px; --csd-margin-right: 95px;
    */ 

      --csd-right: 36px;
      --csd-margin-right: 130px;

  /* === END: Window Control / Client Side Display Settings === */

/* === END: Extension Settings === */

}
