/*
  Extension (Core): Sidebar
  Description: This is the core implementation of the sidebar used in drannex42's FirefoxSidebar.
  Repository URL: https://github.com/drannex42/FirefoxSidebar
  Version: v12024.05.15 (YYYYY.MM.DD) 
*/

#main-window #TabsToolbar {
  visibility: collapse;
}

/* As of v12024.05.15 we updated to using this one by MrOtherGuy, with modifications */
/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_sidebar.css made available under Mozilla Public License v. 2.0 */

/* Show sidebar only when the cursor is over it  */
/* The border controlling sidebar width will be removed so you'll need to modify these values to change width */

#sidebar-box{
  --uc-sidebar-width: 50px;
  --uc-sidebar-hover-width: 260px;
  --uc-autohide-sidebar-delay: 10ms; /* Wait 0.6s before hiding sidebar */
  --uc-autohide-transition-duration: 115ms;
  --uc-autohide-transition-type: linear;
  position: relative;
  min-width: var(--uc-sidebar-width) !important;
  width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;
  z-index:1;
  margin-top: -73px;
  z-index:999999;
}


#sidebar-box[positionend]{ direction: rtl }
#sidebar-box[positionend] > *{ direction: ltr }

#sidebar-box[positionend]:-moz-locale-dir(rtl){ direction: ltr }
#sidebar-box[positionend]:-moz-locale-dir(rtl) > *{ direction: rtl }

#main-window[sizemode="fullscreen"] #sidebar-box{ --uc-sidebar-width: 1px; }

#sidebar-splitter{ display: none }

#sidebar-header{
  overflow: hidden;
  color: var(--chrome-color, inherit) !important;
  padding-inline: 0 !important;
  background: var(--custom-sidebar-header-bg, inherit) !important;
  padding: 8px 12px !important;
  padding-top: 9px !important;
  border-bottom: none !Important;
}

#sidebar-header::before,
#sidebar-header::after{
  content: "";
  display: flex;
  padding-left: 0px;
}

#sidebar-header,
#sidebar{
  transition: min-width var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type) var(--uc-autohide-sidebar-delay) !important;
  min-width: var(--uc-sidebar-width) !important;
  will-change: min-width;
}

#sidebar-box:hover > #sidebar-header,
#sidebar-box:hover > #sidebar{
  min-width: var(--uc-sidebar-hover-width) !important;
  width: var(--uc-sidebar-hover-width) !important;
  transition-delay: 0ms !important;
}

#sidebar-box > #sidebar-header #sidebar-title {
 opacity: 0;
}

#sidebar-box:hover > #sidebar-header #sidebar-title {
  opacity: 1;
}

.sidebar-panel{
  background-color: transparent !important;
  color: var(--newtab-text-primary-color) !important;
}

.sidebar-panel #search-box{
  -moz-appearance: none !important;
  background-color: rgba(249,249,250,0.1) !important; 
  color: inherit !important;
}

/* Add sidebar divider and give it background */

#sidebar,
#sidebar-header{
  background-color: inherit !important;
  border-right: 1px solid var(--sidebar-border-color);
  border-inline-width: 0px 1px;
}

#sidebar-box:not([positionend]) > :-moz-locale-dir(rtl),
#sidebar-box[positionend] > *{
  border-inline-width: 1px 0px;
}


/* Move statuspanel to the other side when sidebar is hovered so it doesn't get covered by sidebar */

#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel{
  inset-inline: auto 0px !important;
}
#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel-label{
  margin-inline: 0px !important;
  border-left-style: solid !important; 
}


.browser-toolbar {
  padding-left: var(--sidebar-width) !important;
  position: relative !important;
}

#PersonalToolbar {
  padding: 2px 5px !important;
  padding-top: 0px !important;
  margin-top: 0px !important;
  padding-left: calc(var(--sidebar-width) + 6px) !important;
}
